{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Nosifer' rel='stylesheet'>
    <h1 class="text-center"> Welcome to neighbourhood </h1><br>

        <h2 style=" text-decoration: underline; font-family: 'Nosifer';font-size: 22px;" class="text-center">UPDATES</h2>
        <ol class="center">
            <li class="text-center">Hello everyone, I hope this finds you well .We will be conducting <br> a weekly meeting every Saturday in the social hall at 3.p.m  to <br> discuss on matters concerning this neighbourhood. <br> For more information stay tuned.</li>
        </ol>

    <style>
        body {
            font-family: 'Sofia';font-size: 22px;
            background-image: url("https://cdn.pixabay.com/photo/2015/03/26/09/41/condominium-690086_960_720.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            color: white;
            font-size: 28px;
        }
        .center{
            list-style-position: inside;
        }
    </style>
</body>
</html>
{% endblock %}