{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <h1 class="text-center"> Welcome to neighbourhood </h1>

    <style>
        body {
            font-family: 'Sofia';font-size: 22px;
            background-image: url("https://cdn.pixabay.com/photo/2015/03/26/09/41/condominium-690086_960_720.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            color: white;
        }
    </style>
</body>
</html>
{% endblock %}