{% extends 'base.html' %}
{% load static %}
{% block content %}
{{ block.super }}

<div class="container text-center">
    <div class="card bg-light" style="margin-top:10%;padding-top: 3%;padding-bottom: 3%;">
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3">
                {%if profile.profilepic %}
                <img class="rounded-circle" src="{{profile.profilepic.url}}" style="height:200px;width: 200px;"
                    alt="No profile pic">
                    
                {%else%}
                <p>No profile picture!</p>
                {%endif%}
            </div>


            <div class="col-xs-6 col-sm-6 col-md-3">
                <strong style="font-size:25px;">{{current_user.username}}</strong>
                <a href='/edit' class="btn btn-primary text-white">Edit profile</a>
                {%if profile.bio %}
                <p style="font-size:23px;"><strong>Bio:</strong> {{profile.bio}}</p>
                {%else%}
                <p>No bio!</p>
                {%endif%}
            </div>

        </div>

    </div>
{% endblock %}