{% extends "registration/base.html"%}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if form.errors %}
            <p>Please Fill Your Details Below</p>
            {% endif %}
            <div class="card" style="width:500px;background: rgba(0, 0, 0, 0.5);  color: #f1f1f1; background: rgb(0, 0, 0);  position: absolute;">
                <div class="card-body">
                    <h5 class="card-title">Sign Up</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Fill in your details</h6>
                    <p class="card-text">
                        <form method="post" action='/accounts/register/'>
                            {% csrf_token%}
                            {% bootstrap_form form%}
                            <div class="form-group">
                                <input type="submit" class="btn btn-outline-primary btn-sm" value="SignUp">
                            </div>
                        </form>
                    </p>
                    <a href="#" class="card-link">Forgot Password?</a>
                    <a href="/accounts/login" class="card-link">Already have an Account? </a>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<style>
        body{
            background-image:url(' https://cdn.pixabay.com/photo/2016/09/12/13/31/new-home-1664317__340.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            color: white;
            font-family: 'Nosifer';font-size: 14px;
        }
        </style>
{% endblock %}